@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  min-width: 480px;
  min-height: 420px;
  margin: 0;
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
}
